@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,500&family=Playfair+Display:wght@400;500;600;700&display=swap');
* {
    box-sizing: border-box;
}

.spacer {
    margin-bottom: 38px;
}

.source {
    display: none;
}

p {
    margin: 0;
}

body {
    font-size: 62.5%;
    margin: 0;
}

.main {
    margin: 52px 237px 24px 234px;
}

.main__timing {
    display: none;
}

.main__headTitle {
    font-family: 'Playfair Display';
    font-weight: 700;
    font-size: 4.8em;
    margin-bottom: 12px;
}

.main__subTitle {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 0 12px;
    margin-bottom: 17px;
    width: 592px;
}

.main__subTitle__dot {
    margin-top: 5px;
}

.main__subTitle__content {
    margin: 0;
    font-size: 1.4em;
    font-family: 'Montserrat';
    font-weight: 500;
    font-style: italic;
    color: #4F4F4F;
}

.main__cake {
    width: 969px;
    height: 470px;
    background-color: red;
    border-radius: 12px;
    margin-bottom: 48px;
}

.main__mainContent__leftElm__ingdr {
    margin: 0 0 32px 0;
    font-size: 2.4em;
    font-family: 'Playfair Display';
    font-weight: 700;
    color: #333333;
}

.main__mainContent {
    width: 100%;
    display: flex;
}

.main__mainContent__leftElm {
    width: 80%;
    height: 100vh;
}

.main__mainContent__rightElm {
    width: 216px;
    height: 367px;
    border-radius: 12px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    background-color: white;
    padding: 57px 40px 50px 43px;
}

.main__mainContent__rightElm__content {
    display: flex;
    margin-bottom: 49px;
}

.main__mainContent__rightElm__content__title {
    margin-left: 14.0px;
}

.main__mainContent__rightElm__content__title__head {
    font-family: 'Montserrat';
    margin: 0;
    font-weight: 700;
    font-size: 1em;
    color: #BDBDBD;
}

.main__mainContent__rightElm__content__title__sub {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 1.4em;
    color: #F2994A;
    margin: 0;
}

.color {
    color: #333333;
}

.main__mainContent__leftElm__titleRct {
    font-family: 'Playfair Display';
    font-weight: 400;
    font-style: italic;
    font-size: 1.8em;
    color: #333333;
    margin-bottom: 31px;
}

.main__mainContent__leftElm__checks {
    display: flex;
    margin-bottom: 3px;
}

.main__mainContent__leftElm__checks__content {
    margin: 2px 0 0 8px;
    font-family: 'Montserrat';
    font-weight: 400;
    color: #333333;
    font-size: 1.6em;
    width: 554px;
}

.bold {
    font-family: 'Montserrat';
    font-weight: 700;
}

.customCard {
    width: 543px;
    height: 75px;
}

.inst {
    margin: 28px 0 28px 0;
}

.main__mainContent__leftElm__steps {
    display: flex;
    margin-bottom: 31px;
}

.main__mainContent__leftElm__steps__number {
    width: 36px;
    height: 36px;
    background-color: #F2994A;
    border-radius: 6px;
    color: white;
    font-size: 2.4em;
    font-family: 'Playfair Display';
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__mainContent__leftElm__steps__number p {
    align-self: start;
}

.main__mainContent__leftElm__steps__content {
    width: 528px;
    font-size: 1.6em;
    font-family: 'Montserrat';
    font-weight: 400px;
    margin: 4px 0 0 15px;
}

.main__mainContent__leftElm__source {
    font-family: 'Montserrat';
    color: #BDBDBD;
    font-style: italic;
    font-weight: 400;
    font-size: 1.6em;
    margin-bottom: 93px;
}

.creator {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 1.4em;
    text-align: center;
    margin-bottom: 24px;
    color: #828282;
}

.name {
    font-weight: 700;
    text-decoration: underline;
}

.ctm {
    width: 510px;
}

.ctmItalic {
    font-style: italic;
}

@media screen and (max-width: 480px) {
    .main {
        margin: 0 11px 0 11px;
    }
    .main__headTitle {
        font-size: 2.4em;
    }
    .main__subTitle {
        width: 330px;
    }
    .main__subTitle__content {
        font-size: 1.2em;
    }
    .main__cake {
        width: 100%;
        height: 213px;
        margin-bottom: 24px;
    }
    .main__mainContent {
        display: block;
    }
    .main__mainContent__rightElm {
        display: none;
    }
    .clearFix {
        content: "";
        display: block;
        clear: both;
    }
    .main__mainContent__rightElm__content {
        margin: 0;
    }
    .main__mainContent__rightElm__content img {
        width: 14px;
        margin-bottom: 6px;
    }
    .main__mainContent__rightElm__content__title {
        margin-left: 5px;
    }
    .main__mainContent__rightElm__content__title__head {
        font-size: 0.8em;
    }
    .main__mainContent__rightElm__content__title__sub {
        font-size: 1em;
    }
    .main__timing__hours {
        display: flex;
        margin: 20px 0 30px 0;
    }
    .ctSpace {
        margin-right: 41px;
    }
    .main__mainContent__leftElm {
        width: 100%;
    }
    .main__mainContent__leftElm__ingdr {
        font-size: 1.8em;
        margin-bottom: 13px;
    }
    .main__mainContent__leftElm__titleRct {
        font-size: 1.6em;
        margin: 20px 0 23px 0;
    }
    .main__mainContent__leftElm__checks__content {
        /* width: 321px; */
        font-size: 1.4em;
    }
    .ctm {
        width: 313px;
    }
    .spc {
        margin-top: 23px;
    }
    .main__mainContent__leftElm__steps__content {
        width: 300px;
        overflow: hidden;
    }
    .main__mainContent__leftElm__source {
        font-size: 1.2em;
    }
    .main__timing {
        display: block;
    }
    .source {
        display: block;
    }
}